<label for="is-readonly" class="label m-4">Disabled it?</label>
<input type="checkbox" class="toggle" [(ngModel)]="isReadonly" id="is-readonly" />

<form class="flex flex-col gap-4" [formRoot]="loginForm">
  <fieldset class="fieldset">
    <legend class="fieldset-legend">First Name</legend>
    <input
      id="firstName"
      type="text"
      class="input"
      autocomplete="given-name"
      [formField]="loginForm.profile.firstName"
    />
    <label for="firstName" class="label">First Name ({{ loginModel().profile.firstName }})</label>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Last Name</legend>
    <input
      id="lastName"
      type="text"
      class="input"
      autocomplete="family-name"
      [formField]="loginForm.profile.lastName"
    />
    <label for="lastName" class="label"
      >Last Name: {{ loginModel().profile.lastName }} ({{
        loginForm.profile.lastName().readonly() ? 'readonly' : 'editable'
      }})</label
    >
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Email</legend>
    <input
      id="email"
      type="text"
      class="input"
      autocomplete="email"
      [formField]="loginForm.email"
      [class]="{
        'input-error': loginForm.email().invalid() && loginForm().touched(),
        'input-success': loginForm.email().valid() && loginForm().touched(),
      }"
    />
    <label
      for="email"
      class="label"
      [class]="{
        'text-error': loginForm.email().invalid() && loginForm().touched(),
      }"
    >
      @if (loginForm.email().invalid()) {
        @for (error of loginForm.email().errors(); track error) {
          <p>{{ error.message }}</p>
        }
      } @else {
        Email ({{ loginModel().email }})
      }
    </label>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Password</legend>
    <input
      id="password"
      type="password"
      class="input"
      autocomplete="new-password"
      [formField]="loginForm.password"
    />
    <label for="password" class="label">Password ({{ passwordLength() }} characters)</label>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Theme</legend>
    <select id="theme" class="select" [formField]="loginForm.settings.theme">
      @for (theme of themeOptions; track theme) {
        <option [value]="theme">{{ theme }}</option>
      }
    </select>
    <label for="theme" class="label">Theme ({{ loginModel().settings.theme }})</label>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Products</legend>
    <div class="flex flex-col gap-2">
      @for (product of loginModel().products; track product.id) {
        <div>
          <div class="flex items-center gap-2">
            <input
              type="text"
              class="input"
              placeholder="Product Name"
              [formField]="loginForm.products[$index].name"
              [class]="{
                'input-error':
                  loginForm.products[$index].name().invalid() &&
                  loginForm.products[$index].name().touched(),
              }"
            />
            <input
              type="number"
              class="input w-24"
              placeholder="Quantity"
              [formField]="loginForm.products[$index].quantity"
              [class]="{
                'input-error':
                  loginForm.products[$index].quantity().invalid() &&
                  loginForm.products[$index].quantity().touched(),
              }"
            />
          </div>

          @if (loginForm.products[$index]().invalid()) {
            <div class="flex flex-col gap-1 my-2">
              @for (error of productErrors($index); track error) {
                <p class="text-error text-sm">{{ error.message }}</p>
              }
            </div>
          }
        </div>
      }

      <button
        type="button"
        class="btn btn-sm btn-soft"
        (click)="addRandomProduct()"
        [disabled]="loginForm().disabled()"
      >
        Add Random Product
      </button>
    </div>

    @if (loginForm.products().invalid() && loginForm().touched()) {
      @for (error of loginForm.products().errors(); track error) {
        <p class="text-error text-sm">{{ error.message }}</p>
      }
    }
  </fieldset>

  <label class="label" for="is-public"> Make profile public </label>
  <input id="is-public" type="checkbox" class="checkbox" [formField]="loginForm.isPublic" />

  @if (!loginForm.publicUrl().hidden()) {
    <label class="label" for="public-url"> Public URL </label>
    <input id="public-url" class="input" [formField]="loginForm.publicUrl" />
  }

  @if (loginForm().dirty()) {
    <p class="text-yellow-600 text-sm">You have unsaved changes!</p>
  }

  <div class="flex gap-2">
    <button
      type="button"
      class="btn btn-secondary mt-4"
      (click)="resetForm()"
      [disabled]="!loginForm().dirty()"
    >
      Reset
    </button>

    <button
      type="submit"
      class="btn btn-success mt-4"
      [class.btn-disabled]="loginForm().invalid()"
      [disabled]="loginForm().disabled()"
    >
      Submit
    </button>
  </div>
</form>

@if (loginForm().disabled()) {
  @for (reason of loginForm().disabledReasons(); track reason) {
    <p class="text-yellow-600 text-sm">{{ reason.message }}</p>
  }
}

<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
  <legend class="fieldset-legend">Search Query</legend>
  <input
    id="query"
    type="text"
    class="input"
    [placeholder]="`Debounced... Min: ${searchForm.query().minLength?.()}`"
    [formField]="searchForm.query"
  />

  <input
    id="query"
    type="text"
    class="input"
    placeholder="Without debounce..."
    [formField]="searchFormWithoutDebounce.query"
  />

  <label for="query" class="label">Search Query: {{ searchModel().query }}</label>
</fieldset>
